*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: url('https://img.freepik.com/free-vector/flat-comic-style-background-copy-space_52683-54924.jpg')no-repeat;
    background-position: top center;
    background-size:cover ;
}
.container{
    width: 80%;
    max-width: 37.5 em;
    padding: 3em 1.5em;
    background-color: rgb(228, 200, 167);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    box-shadow: 0 1.4em 3em rgb(1, 1, 83);
}
.container img{
    display: block;
    height: 25em;
    max-width: 80%;
    margin: 0 auto 1em auto;
}
.container h3{
    display: block;
    font-size: 1.3em;
    margin: 0.5em auto 2em auto;
    width: 70%;
    font-weight: 420;
    text-align: center;
    text-transform: capitalize;
    color: rgb(6, 2, 78);
    letter-spacing: 0.03em;
}
.container button{
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
    padding: 0.8em 2em;
    border-radius: 2em;
    background-color: rgb(139, 6, 6);
    border: none;
    outline: none;
    color: antiquewhite;
    cursor: pointer;
}
@media screen and (max-width: 600px){
    .container{
        font-size: 15px;
    }
    
}